h1{
    background-color: #905cbe; 
    color: rgb(2, 2, 17);
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 5px;
    border: 6px solid rgb(0, 3, 3);
    width: 578px;
 }
 
 h2{
     border-bottom: 6px solid #000000;
     width: 600px;
 }
 
 h3,h4,h5,h6{
     border-bottom: 2px solid #905cbe;
     width: 600px;
 }
 
 p{
     padding-left: 30px;
     padding-right: 70px;
     width: 500px;
 }
 ul{
     visibility: hidden;
 }